nav{
    height: 50px;
    width: 90%;
    background-color: $nav-bg-color;
    line-height: 50px;
    text-align: center;
    font-size: 18pt;
    border-radius: 0 0 20px 0;
    box-shadow: 2px 2px 5px ;
  
    // nesting
  
    .logo{
      display: inline-block;
      background-image: linear-gradient(to right, $nav-bg-color, #000, $nav-bg-color);
      font-family: Arial, Helvetica, sans-serif;
      //nesting
      span{
        font-family: 'Meddon', cursive;
        color: rgb(232, 71, 210);
      }
    }
  }