//imports

@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

//variables
$st-primary-color: #1f1a50;
// $nav-bg-color: rgb(5, 47, 0);
$nav-bg-color: #1f1a50;
$reg-transition: all 0.2s ease;
// mixins

@mixin flex-box ($is-row:true, $jstfy:space-between){
  display: flex;
  @if $is-row{
    flex-direction: row;
  }@else{
    flex-direction: column;
  }
  justify-content: $jstfy;
  align-items: center;
}



// global configuration

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $st-primary-color;
  color: white;
}

button{
  width: 70px;
  height: 30px;
  line-height: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  font: 12pt Arial;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}


// nav style

nav{
  height: 50px;
  width: 90%;
  background-color: $nav-bg-color;
  line-height: 50px;
  text-align: center;
  font-size: 18pt;
  border-radius: 0 0 20px 0;
  box-shadow: 2px 2px 5px ;

  // nesting

  .logo{
    display: inline-block;
    background-image: linear-gradient(to right, $nav-bg-color, #000, $nav-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    //nesting
    span{
      font-family: 'Meddon', cursive;
      color: rgb(232, 71, 210);
    }
  }
}

main.app-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  min-height: 90vh;

  @media only screen and (max-width: 720px){
    grid-template-columns: 1fr;
  }
  //nesting
  div.left{
    margin: 20px;
    @include flex-box(false, space-evenly);

    //nesting
    div.clock{
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: rgb(168, 179, 158);
      background-image: url('./assets/levi.jpg');
      background-repeat: no-repeat;
      box-shadow: 0px 0px 3px 5px #000,
                  inset 0 0 100px;
      background-size: cover;
      transition: $reg-transition;
      
      &:hover{
        box-shadow: 0px 0px 3px 5px #000,
        inset 0 0 100px rgb(242, 63, 13);
      }
      //nesting
      main{
        position:absolute;
        left: 140px;
        top: 140px;
        width: 20px;
        height: 20px;
        border-radius: 5px;
        background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        z-index: 3;
      }

      .hand{
        z-index: 2;
        position: absolute;
        width: 6px;
        height: 100px;
        background-color: #000;
        bottom: 50%;
        left: 50%;
        border-radius: 4px;
        transform-origin: bottom center;
        transition: all 0.2s cubic-bezier(0.1, 2.7, 0.58, 1);
      }
      
      .tic{
        position: absolute;
        width: 3px;
        height: 50%;
        left: 50%;
        top: 0;
        transform-origin: bottom;

        span{
          display: block;
          width: 100%;
          height: 40px;
          background-color: #7f5a83;
          background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
        }
      }

      .dig-clock{
        width: 114px;
        position: absolute;
        top: 35%;
        right: 15%;
        color: rgb(111, 12, 67);
        font: 14pt 'Orbitron', sans-serif;
      }

    }

    .timer{
      color: white;
      font-size: 18pt;

      input{
        text-align: center;
        color: #fff;
        font: 20pt 'Orbitron', sans-serif;
        width: 70px;
        height: 35px;
        border-radius: 3px;
        background-color: $nav-bg-color;
        border: none;
        outline: none;
      }
    }
    
    footer{
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;

      //nesting
      button{
        margin: 0 15px;
        box-shadow: 1.5px 1.5px 0.5px 1px #000;
        transition: all 0.1s ease;

        //nesting

        &:active{
          box-shadow: none;
        }

        &.start{
          background-color: #1a73e8;

          &:hover{
            color: #1a73e8;
            background-color: #fff;
          }
        }
        &.stop{
          content: "Stop";
          background-color: #f00;

          &:hover{
            color: #f00;
            background-color: #fff;
          }
        }
        &.reset{
          background-color: #4ca20e;
          
          &:hover{
            color: #4ca20e;
            background-color: #fff;
          }
        }

      }
    }
  }
}




























// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
