//imports
@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');

//variables
$st-primary-color: #1f1a50;
// $nav-bg-color: rgb(5, 47, 0);
$nav-bg-color: #1f1a50;
$reg-transition: all 0.2s ease;
$dminheight: calc(100vh - 50px);
$btnshdw: 1.5px 1.5px 0.5px 1px #000;

// mixins

@mixin flex-box ($is-row:true, $jstfy:space-between){
  display: flex;
  @if $is-row{
    flex-direction: row;
  }@else{
    flex-direction: column;
  }
  justify-content: $jstfy;
  align-items: center;
}



// global configuration

*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $st-primary-color;
  color: white;
}

button{
  width: 70px;
  height: 30px;
  line-height: 100%;
  outline: none;
  border: none;
  border-radius: 2px;
  font: 12pt Arial;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

input[type="text"]{
  border: none;
  outline: none;
  height: 50px;
  padding: 5px 15px;
  font-size: 14pt;
  border-radius: 3px;
}

li{
  list-style: none;
}

// nav style

@import "style/nav";

// main style

@import "style/main"






























// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
